body {
    font-family: 'Ubuntu', Courier, monospace;
}

header {
    width: 100%;
    box-sizing: border-box;
    background-color: #000000;
    position: sticky;
    top: 0px;
    z-index: 3;

    section:first-child {
        display: flex;
        justify-content: space-between;
        gap: 120px;
        align-items: center;
        @include baseContainer(10px 25px, 0, none);
    }

    section:last-child {
        @include baseContainer(10px 25px, 0, none);

        nav {
            display: flex;
            justify-content: space-between;
            gap: 60px;
            align-items: center;
        }
    }
}

main {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-rows: auto;
    grid-template-areas: 
    "images selector"
    ;

    background-color: #000000;

    .galeria__images {
        grid-area: images;
    }

    .galeria__selector {
        grid-area: selector;
    }
}

//test